@tailwind base;
@tailwind components;
@tailwind utilities;



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-color: whitesmoke;
}

/* Select Box Designs */

.outer1box {
  @apply m-7 border-gray-300 bg-white p-20 rounded-lg shadow-md border shadow-cyan-100 hover:border-cyan-400 transition-all ease-in-out;
}
  
.outer {
  @apply flex flex-wrap  items-end rounded-lg p-10 gap-6 shadow-sm transition-all ease-in-out
}
.outerheader {
  @apply mb-14 flex  items-center w-full bg-blue-700 rounded-md shadow-blue-400 shadow-lg hover:bg-blue-600 transition-all ease-in-out;
}


.dropdownone {
  @apply flex flex-col w-full md:w-auto;
}

.dropdownlabel {
  @apply block mt-2 mb-4 text-gray-700;
}

.dropdownbutton {
  @apply block mx-3 py-2 px-4 text-base   text-white rounded-md hover:cursor-pointer bg-green-500 focus:outline-none shadow-lg shadow-green-400 hover:bg-orange-500 hover:shadow-orange-400 transition-all ease-in-out duration-300;
}

.dropdownoption {
  @apply bg-white text-gray-700;
}

/* Table Column */

.tc {
  @apply px-6 py-3;
}

/* Header menus */

.shared-link {
  @apply text-white font-semibold p-3 text-lg px-1 gap-2  flex transition-all duration-300 hover:bg-white rounded-md hover:text-gray-900;
}

.shared-link svg {
  @apply fill-current;
}

/* Department Input type */

.depinput {
  @apply rounded px-2 border-gray-300 focus:outline-none focus:border-gray-500 transition-all ease-in-out duration-300 h-10 w-56 hover:border-blue-500 border-2
}

.depinputblock {
  @apply flex flex-col gap-1 px-4;
}

/* Tables */

.tableout{
  @apply  overflow-hidden overflow-x-auto  mt-10 rounded-lg border-gray-300  shadow-teal-200 border border-spacing-96 w-full;
}

.table {
  @apply w-full text-sm text-left  text-gray-900 shadow-lg shadow-teal-400;
}

.tablehead {
  @apply text-white  bg-gray-600  h-14 text-lg ;
}
.tablefoot {
  @apply text-white  bg-blue-600  h-14 text-lg  /* transition-all ease-in-out duration-300 */ ;
}



.delete {
@apply flex items-center space-x-2 gap-2 bg-red-600 text-white px-4 py-2 text-base  rounded  focus:ring-red-300 focus:ring-4 hover:bg-rose-500 transition-all ease-in-out;
}

.update {
  @apply flex items-center space-x-2 bg-green-600 text-white px-7 py-1 rounded hover:focus:ring-green-800  focus:ring-green-300 focus:ring-4 hover:bg-green-500 transition-all ease-in-out;
}

.cancel {
  @apply mx-5 py-2 px-4  bg-red-500 rounded-md text-white hover:border-orange-600 border focus:ring-red-300 focus:ring-4 hover:bg-rose-500 transition-all ease-in-out;
}

.create {
  @apply py-2 px-4  bg-green-500 rounded-md text-white hover:border-green-600 focus:ring-green-300 focus:ring-4 hover:bg-green-500 transition-all ease-in-out;
}

.addnew {
  @apply ml-auto pr-5 py-2 px-4 flex gap-2 bg-green-500 rounded-md text-white hover:bg-orange-500 focus:ring-green-300 focus:ring-4 transition-all ease-in-out;
}